* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    font-family: Helvetica, serif;

    --menu-bottom: 3%;
    --menu-height: 60px
}

body {
    background-image: url("assets/bg.jpg");
    background-size: cover;
    background-blend-mode: darken;
    height: 100vh;
}

#app-np {
    .w-body {
        resize: none;
        outline: none;
    }
}

#menu {
    position: absolute;
    bottom: var(--menu-bottom);
    height: var(--menu-height);
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    user-select: none;

    .wrapper {
        border: 3px solid gray;
        border-radius: 20px;
        position: absolute;

        bottom: 0;
        height: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 20%;
        transition: .3s;
        display: flex;
        align-items: center;
        justify-content: space-around;

        * {
            height: 80%;
            aspect-ratio: 1/1;
            object-fit: contain;
            object-position: center;
            border-radius: 5px;
        }

        *:hover {
            outline: 1px solid darkgray;
            outline-offset: 2px;
        }
    }
}

#menu:hover {
    .wrapper {
        height: 100%;
        width: 100%;
    }
}

#menu-info {
    color: white;
    background: #000000AA;
    position: absolute;
    padding: 5px 10px;
    border-radius: 3px;
    left: 50%;
    transform: translateX(-50%);
    bottom: calc(var(--menu-bottom) + var(--menu-height) + 10px);

}

#menu-info.hidden {
    opacity: 0;
    transition: opacity .3s;
}

.window {
    --border-radius: 20px;
    --scale-size: 5px;
    --header-height: 30px;

    position: absolute;
    border: 1px solid black;
    border-radius: var(--border-radius);

    .w-container {
        width: 100%;
        height: 100%;
        border-radius: var(--border-radius);
        overflow: hidden;
    }

    .w-scale-left, .w-scale-right, .w-scale-top, .w-scale-bottom {
        position: absolute;
        inset: 0;
    };

    .w-scale-left { right: calc(100% - var(--scale-size)); left: calc(0px - var(--scale-size)); }
    .w-scale-right { left: calc(100% - var(--scale-size)); right: calc(0px - var(--scale-size)); }
    .w-scale-top { bottom: calc(100% - var(--scale-size)); top: calc(0px - var(--scale-size)); }
    .w-scale-bottom { top: calc(100% - var(--scale-size)); bottom: calc(0px - var(--scale-size)); }

    .w-scale-left, .w-scale-right {
        cursor: ew-resize;
    }
    
    .w-scale-left.w-scale-top, .w-scale-right.w-scale-bottom {
        cursor: nwse-resize;
        /*z-index: 1;*/
    }

    .w-scale-right.w-scale-top, .w-scale-left.w-scale-bottom {
        cursor: nesw-resize;
        /*z-index: 1;*/
    }

    .w-scale-top, .w-scale-bottom {
        cursor: ns-resize;
    }

    .w-header {
        --padding: 10px;

        width: 100%;
        height: var(--header-height);
        background: #252525;
        position: relative;
        user-select: none;
        overflow: hidden;
        /*z-index: 11;*/

        .w-title {
            left: calc(var(--header-height) * .8 + var(--padding) * 2);
            position: absolute;
            color: white;
            top: 25%;
            height: 50%;
            user-select: none;
        }

        .w-icon {
            height: calc(var(--header-height) * .8);
            position: absolute;
            aspect-ratio: 1/1;
            object-fit: contain;
            object-position: center center;
            top: 10%;
            left: var(--padding);
        }

        .w-close {
            --bright-color: red;
            --dark-color: #540000;

            position: absolute;
            right: 2%;
            top: 15%;
            height: 70%;
            aspect-ratio: 1/1;
            border-radius: 100%;
            background: transparent;
            border: 2px solid var(--bright-color);
            color: var(--bright-color);
            font-size: 12px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .w-close:hover {
            color: var(--dark-color);
            background: var(--bright-color);
            border-color: var(--dark-color);
            font-weight: bold;
        }
    }

    .w-body {
        /*z-index: 10;*/
        position: relative;
        width: 100%;
        height: calc(100% - var(--header-height));

        overflow: hidden;
        background: white;
    }
}

.window.w-active {
    outline: 2px solid cyan;
    /*z-index: 1000;*/
}